@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..90');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(37, 23, 23);
  margin: 0;
  padding: 20px;
}

.container h1{
    margin: 1rem;
}

.container {
  background: #ffffff;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pedido {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.pedido h2 {
  margin-bottom: 10px;
}

.pedido ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.pedido li {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.pedido .total {
    background-color: #6b4f4f;
    color:white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    text-align: right;
}

section {
  margin-bottom: 20px;
  
}

.card-produto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  gap: 10px;
}

.card-produto i {
  font-size: 1.4rem;
  color: #6c757d;
}

.card-produto .nome {
  flex-grow: 1;
  font-weight: 500;
}

.card-produto .preco {
  font-weight: bold;
}

.entrega{
    padding: 20px;
}

label {
    color:black;
    display: inline-block;
    margin-right: 9px;
    
}

.opcoes-entrega {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* permite quebra se necessário */
  margin-bottom: 15px;
}

.opcao-entrega {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s ease;
}

.opcao-entrega:hover {
  border: 2px solid #007bff;
}

.opcao-entrega input[type="radio"] {
  accent-color: #ffc506;
}

.pagamento {
    padding: 20px;
}

.opcoes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.opcao-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s ease;
}

.opcao-pagamento:hover {
  border: 2px solid #c9c3c3;
}

.opcao-pagamento input[type="radio"] {
  accent-color: #ffc506;
}

#pix-info {
  background-color:#DCDCDC;
  padding: 10px;
  border-left: 4px solid #6b4f4f;
  border-radius: 4px;
  max-width: 300px;
    
}

.total{
    margin-top:0.4rem;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

.oculto {
  display: none;
}

button {
    background: #6b4f4f;
    font-weight: bold;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

button:hover {
  background-color: rgb(70, 62, 62);
  border-bottom: 4px solid #ffc506;
   color: #ffc506;
}

  #popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .popup-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }

  .popup-oculto {
    display: none;
  }
